<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cs.system.dao.FreeVerificationBookConfigDao" >
  <resultMap id="BaseResultMap" type="com.cs.system.entity.FreeVerificationBookConfig" >
    <id column="STATION_ID" property="stationId" jdbcType="VARCHAR" />
    <result column="BEGIN_DATE" property="beginDate" jdbcType="DATE" />
    <result column="END_DATE" property="endDate" jdbcType="DATE" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    STATION_ID, BEGIN_DATE, END_DATE, CREATE_DATE, USER_ID, USER_NAME, DESCRIPTION
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from MOT.FREE_VERIFICATION_BOOK
    where STATION_ID = #{stationId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from MOT.FREE_VERIFICATION_BOOK
    where STATION_ID = #{stationId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cs.system.entity.FreeVerificationBookConfig" >
    insert into MOT.FREE_VERIFICATION_BOOK (STATION_ID, BEGIN_DATE, END_DATE, 
      CREATE_DATE, USER_ID, USER_NAME, 
      DESCRIPTION)
    values (#{stationId,jdbcType=VARCHAR}, #{beginDate,jdbcType=DATE}, #{endDate,jdbcType=DATE}, 
      #{createDate,jdbcType=TIMESTAMP}, #{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cs.system.entity.FreeVerificationBookConfig" >
    insert into MOT.FREE_VERIFICATION_BOOK
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="stationId != null" >
        STATION_ID,
      </if>
      <if test="beginDate != null" >
        BEGIN_DATE,
      </if>
      <if test="endDate != null" >
        END_DATE,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="stationId != null" >
        #{stationId,jdbcType=VARCHAR},
      </if>
      <if test="beginDate != null" >
        #{beginDate,jdbcType=DATE},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=DATE},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cs.system.entity.FreeVerificationBookConfig" >
    update MOT.FREE_VERIFICATION_BOOK
    <set >
      <if test="beginDate != null" >
        BEGIN_DATE = #{beginDate,jdbcType=DATE},
      </if>
      <if test="endDate != null" >
        END_DATE = #{endDate,jdbcType=DATE},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where STATION_ID = #{stationId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cs.system.entity.FreeVerificationBookConfig" >
    update MOT.FREE_VERIFICATION_BOOK
    set BEGIN_DATE = #{beginDate,jdbcType=DATE},
      END_DATE = #{endDate,jdbcType=DATE},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      USER_ID = #{userId,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR}
    where STATION_ID = #{stationId,jdbcType=VARCHAR}
  </update>
  
  <select id="findValidConfigById" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from MOT.FREE_VERIFICATION_BOOK
    where STATION_ID = #{id,jdbcType=VARCHAR} and sysdate between BEGIN_DATE and END_DATE+1
  </select>
</mapper>