<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cs.argument.dao.BlackListRecordDao" >
  <resultMap id="BaseResultMap" type="com.cs.argument.entity.BlackListRecord" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="RECORD_TYPE" property="recordType" jdbcType="DECIMAL" />
    <result column="RECORD_VALUE" property="recordValue" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="END_DATE" property="endDate" jdbcType="TIMESTAMP" />
    <result column="BOOK_NUMBERS" property="bookNumbers" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, STATUS, RECORD_TYPE, RECORD_VALUE, CREATE_DATE, END_DATE, BOOK_NUMBERS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from MOT.BLACK_LIST_RECORD
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from MOT.BLACK_LIST_RECORD
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cs.argument.entity.BlackListRecord" >
  	 <selectKey keyProperty="id" resultType="String" order="BEFORE">  
       select sys_guid() from dual  
   	 </selectKey> 
    insert into MOT.BLACK_LIST_RECORD (ID, STATUS, RECORD_TYPE, 
      RECORD_VALUE, CREATE_DATE, END_DATE, 
      BOOK_NUMBERS)
    values (#{id,jdbcType=VARCHAR}, #{status,jdbcType=DECIMAL}, #{recordType,jdbcType=DECIMAL}, 
      #{recordValue,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{endDate,jdbcType=TIMESTAMP}, 
      #{bookNumbers,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cs.argument.entity.BlackListRecord" >
    insert into MOT.BLACK_LIST_RECORD
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="recordType != null" >
        RECORD_TYPE,
      </if>
      <if test="recordValue != null" >
        RECORD_VALUE,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="endDate != null" >
        END_DATE,
      </if>
      <if test="bookNumbers != null" >
        BOOK_NUMBERS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="recordType != null" >
        #{recordType,jdbcType=DECIMAL},
      </if>
      <if test="recordValue != null" >
        #{recordValue,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="bookNumbers != null" >
        #{bookNumbers,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cs.argument.entity.BlackListRecord" >
    update MOT.BLACK_LIST_RECORD
    <set >
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="recordType != null" >
        RECORD_TYPE = #{recordType,jdbcType=DECIMAL},
      </if>
      <if test="recordValue != null" >
        RECORD_VALUE = #{recordValue,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        END_DATE = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="bookNumbers != null" >
        BOOK_NUMBERS = #{bookNumbers,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cs.argument.entity.BlackListRecord" >
    update MOT.BLACK_LIST_RECORD
    set STATUS = #{status,jdbcType=DECIMAL},
      RECORD_TYPE = #{recordType,jdbcType=DECIMAL},
      RECORD_VALUE = #{recordValue,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      END_DATE = #{endDate,jdbcType=TIMESTAMP},
      BOOK_NUMBERS = #{bookNumbers,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 自定义 -->
  <sql id="conditions" >
  	<where>
  	 <foreach collection="sqlCriterions" item="criterionItem" separator="and" >
  	 	<choose>
  	 		<when test="criterionItem.noValue">
  	 			${criterionItem.condition}
  	 		</when>
  	 		<when test="criterionItem.singleValue">
  	 			${criterionItem.condition} #{criterionItem.value}
  	 		</when>
  	 		<when test="criterionItem.betweenValue">
  	 			${criterionItem.condition} #{criterionItem.value} and #{criterionItem.secondValue}
  	 		</when>
  	 		<when test="criterionItem.listValue">
  	 			 ${criterionItem.condition}
                  <foreach collection="criterionItem.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
  	 		</when>
  	 	</choose>
      </foreach>
  	</where>
  </sql>

  <select id="findAllData" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from MOT.BLACK_LIST_RECORD
  </select>
  
   <select id="findAllDataByOrder" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from MOT.BLACK_LIST_RECORD
    <if test="_parameter != null">
    	order by ${_parameter}
    </if>
  </select>
  
  <select id="findByCondition" parameterType="com.cs.mvc.dao.SqlCondition" resultMap="BaseResultMap">
	select 
	<if test="distinct" >
      distinct
    </if>
	<include refid="Base_Column_List" />
	  from MOT.BLACK_LIST_RECORD
	<if test="_parameter != null" >
      <include refid="conditions" />
    </if>
    <if test="orderbyClause != null and orderby" >
    	order by
    <foreach collection="orderbyClause" item="listItem" separator=",">
      	 ${listItem}
    </foreach>
    </if>
  </select>
  
  <select id="countByCondition" parameterType="com.cs.mvc.dao.SqlCondition" resultType="java.lang.Integer">
   	select count(*) from MOT.BLACK_LIST_RECORD
    <if test="_parameter != null" >
      <include refid="conditions" />
    </if>
  </select>
  
</mapper>